body {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.hidden {
    display: none;
}

#timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#timer-container h2 {
    font-size: 40px;
}

#display-text {
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    width: 60%;
}

h1 {
    font-size: 40px;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 20px;
    /* width: 60%; */
}



#startButton, #startOver, #test-button, #submit, #clear-button {
    color: white;
    background-color: blue;
    /* margin-left: 45%; */
    height: 25px;
    width: 85px;
}

#startButton:hover, #startOver:hover, #test-button:hover, #submit:hover, #clear-button:hover {
    background-color: rgb(186, 173, 230);
}

#startOver {
    /* position: absolute; */

}

#test-section {
    display: flex;
    flex-direction: column;
}

#test-button {
    width: auto;
    margin: .5em;
    font-size: 20px;
}

#message-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
}

#submit {
    margin: 1em;
}

#highscore-h2 {
    font-weight: bold;
    font-size: 60px;
}

.highscore-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    font-size: 40px;
}

