body {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

/* class created to hide elements */
.hidden {
    display: none;
}


/* container for timer */
#timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}


/* timer display */
#timer-container h2 {
    font-size: 40px;
}

/* Section with main title and directions */
#display-text {
    width: 60%;
}

/* Coding Quiz Challenge */
h1 {
    font-size: 40px;
    text-align: center;
}

/* all h2s */
h2 {
    text-align: center;
    font-size: 20px;
    /* width: 60%; */
}


/* css for buttons */
#startButton,
#startOver,
#test-button,
#submit {
    color: white;
    background-color: blue;
    /* margin-left: 45%; */
    height: 25px;
    width: 85px;
}

/* clear button css */
#clear-button {
    color: white;
    background-color: blue;
    font-size: 12px;
    /* margin-left: 45%; */
    height: 35px;
    width: 110px;
}

/* for hovering */
#startButton:hover,
#startOver:hover,
#test-button:hover,
#submit:hover,
#clear-button:hover {
    background-color: rgb(186, 173, 230);
}

/* section with questions and answer buttons */
#test-section {
    display: flex;
    flex-direction: column;
}

/* css for buttons with answers on them */
#test-button {
    width: auto;
    margin: .5em;
    font-size: 20px;

}

/* Section for "sorry" or "good job" */
#message-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
}

/* submit button */
#submit {
    margin: 1em;
}

/* high scores list */
#high-scores {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* high score title */
#highscore-h2 {

    font-weight: bold;
    font-size: 60px;
    margin: 0px;
}

/* high score list */
#highscore-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    font-size: 40px;
}