body {
    display: flex;
    justify-content: center;
}

#display-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}

h1 {
    font-size: 40px;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 20px;
    /* width: 60%; */
}

#startButton {
    color: white;
    background-color: blue;
    margin-left: 268px;
    height: 25px;
    width: 85px;
}

#startButton:hover {
    background-color: rgb(186, 173, 230);
}